@import 'partials/fonts';
@import 'partials/variables';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: $font-text, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $cl-black;
    background-color: $cl-white;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

@import 'blocks/container';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/textarea';
@import 'blocks/buttons';

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.main {
    flex: 1 0 auto;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.attention-mark {
    font-size: 36px;
    line-height: 42px;
    color: $cl-wild-watermelon;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 61px;
    height: 61px;
    text-align: center;
    background-color: $cl-white;
    border-radius: 50%;
    padding: 11px 0 7px;
    opacity: 0;
    transition: opacity .4s ease;
    z-index: 3;
    pointer-events: none;
}