
$font-text: 'Roboto';

// COLORS

$cl-black: #000;
$cl-white: #fff;
$cl-mischka: #A2A9B7;
$cl-silver: #C4C4C4;
$cl-solitude: #E8EBED;
$cl-cornflower: #90BCE8;
$cl-saffron: #FEBF26;
$cl-light-salmon: #FFAA87;
$cl-prelude: #C7ABD4;
$cl-wild-watermelon: #F55E62;
$cl-willow-brook: #E3EBD3;
$cl-denim: #0F54B9;