.five-tiles {
    display: flex;
    // width: 100%;
    margin: 0 -5px;
    flex-wrap: wrap;

    &__column {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        line-height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 155px;
        width: calc(50% - 10px);
        padding: 15px;
        margin: 0 5px 10px;
        background-color: $cl-solitude;
        flex-grow: 1;

        &--big {
            width: 100%;
        }

        &--bg-blue {
            background-color: $cl-cornflower;
        }

        &--bg-yellow {
            background-color: $cl-saffron;
        }

        &--bg-pink {
            background-color: $cl-light-salmon;
        }

        &--bg-red {
            background-color: $cl-wild-watermelon;
        }

        &--bg-violet {
            background-color: $cl-prelude;
        }
    }

    @media (min-width: 480px) {

        // &__column {
        //     &--first {
        //         width: calc(100% / 1.5);
        //     }
        //     &--second {
        //         flex-direction: column;
        //         width: calc(100% / 3 - 10px);
        //     }
        // }

        &--reverse & {
            &__item {

                &:nth-child(2) {
                    order: 4;
                }

                &:nth-child(3) {
                    order: 5    ;
                }

                &:nth-child(4) {
                    order: 1;
                }

                &:nth-child(5) {
                    order: 3;
                }

                &--big {
                    order: 2;
                }
            }
        }

        &__item {
            width: calc(100% / 3 - 10px);
            &--big {
                width: calc(100% / 1.5 - 10px);
                order: 4;
            }

            &--bg-yellow {
                order: 5;
            }

            &--bg-pink {
                order: 1;
            }
        }
    }
}